---
title: Projects
layout: default
---

{% include header.html %}

<div class="g-banner projects-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
    data-theme="{{ site.theme-color }}">
    <h2>PROJECTS</h2>
</div>

<main class="projects-content">

    <ul class="projects-list">
        <li>
            <div class="p-banner">
                <div class="p-title">
                    <a href="https://www.joi-club.cn/">Joi Club - 虚拟主播轴伊Joi的粉丝站</a>
                </div>
                <div class="p-desc">
                    <p>实时显示直播间状态和关注数/自动更新视频列表/直播记录管理</p>
                </div>
                <div class="p-language">
                    <span class="p-lbage"></span> Django
                    <span class="p-lbage"></span> Python
                    <span class="p-lbage"></span> HTML
                </div>
            </div>
        </li>
        <li>
            <div class="p-banner">
                <div class="p-title">
                    <a href="https://www.microsoft.com/store/productId/9P29MG9CMC9G">哔哩哔哩舰长私信助手</a>
                </div>
                <div class="p-desc">
                    <p>自动化私信内容生成、发送；私信目标管理</p>
                </div>
                <div class="p-language">
                    <span class="p-lbage"></span> C#
                    <span class="p-lbage"></span> UWP
                </div>
            </div>
        </li>
        <li>
            <div class="p-banner">
                <div class="p-title">
                    <a href="http://obs.joi-club.cn/">JLive Toolkits - OBS网页工具集</a>
                </div>
                <div class="p-desc">
                    <p>自动化私信内容生成、发送；私信目标管理</p>
                </div>
                <div class="p-language">
                    <span class="p-lbage"></span> HTML/CSS
                    <span class="p-lbage"></span> JavaScript
                    <span class="p-lbage"></span> Websocket
                </div>
            </div>
        </li>
        <li>
            <div class="p-banner">
                <div class="p-title">
                    <a href="https://joi-club.cn/ask">匿名提问箱</a>
                </div>
                <div class="p-desc">
                    <p>匿名提问/后台管理/图片上传</p>
                </div>
                <div class="p-language">
                    <span class="p-lbage"></span> Django
                    <span class="p-lbage"></span> Python
                    <span class="p-lbage"></span> SQLite
                    <span class="p-lbage"></span> HTML
                </div>
            </div>
        </li>
    </ul>
</main>

{% include footer.html %}